@charset "UTF-8";

body {
    background: black url(../imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#conteiner {
    position: relative;
    height: 800px; /*PRECISA ter essa propriedade*/
}

article#astronauta {
    position: absolute;
    height: 800px; /*PRECISA ter essa propriedade*/
    width: 800px; /*PRECISA ter essa propriedade*/
    background: transparent url('../imagens/astronauta.png') center center no-repeat scroll;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}