@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 15px;
    background-color: #292929;
    width: 100%;
    min-height: 40px;
    padding: 30px;
}

.logoNavBar {
    width: 180px;
}

.headerBtnGroup {
    display: flex;
    gap: 15px;
}

.navbarBtn {
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.navbarBtn:hover {
    border-bottom: 2px solid black;
}

.sectionTitle {
    text-align: center;
    font-size: 26px;
    padding-top: 20px;
}

.sectionDescription {
    text-align: center;
    color: #383838;
}

.gridContainer {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr; /*mainContent vai ocupar 3 frames e o sideBar vai ocupar 1 frame*/
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "mainContent sidebarContent";
    padding: 20px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: mainContent;
}

.mainCategoryImage {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.categoryCard {
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.categoryCard:hover {
    border-color: black;
}

.mainCategoryTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

.mainCategoryDescription {
    padding: 6px;
}

.sidebarContent {
    background-color: #383838;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: sidebarContent;
    gap: 20px;
}

.sidebarCard {
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sideBarCardTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

.siderBarCardImg {
    width: 100%;
    border-radius: 10px;
}

.sidebarCard:hover {
    border-color: gainsboro;
}

.footer {
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.logoFooter {
    width: 180px;
}

.footer-anchor {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.footer-anchor:hover {
    border-bottom: 2px solid black;
}

@media (max-width: 630px) {
    .gridContainer {
        grid-template-areas: 
        "mainContent"
        "sidebarContent";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sidebarContent {
        min-width: auto;
    }

    .footer-anchor {
        font-size: 19px;
    }
}

@media (max-width: 463px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .footer {
        justify-content: center;
        align-items: center;
    }

    .footer a {
        margin-top: 10px;
    }
}